@import "bootstrap/scss/bootstrap";

.center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.todos {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.todo-list {
   width: 100%;
   padding: 0;
   border: 1px solid gray;
   border-radius: 5px;
   list-style: none;
}
.todo-item {
   position: relative;
   padding: 10px 20px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow-x: hidden;
   &:not(:last-child) {
      border-bottom: 1px solid rgb(145, 145, 145);
   }
   &:hover .controls {
      transform: translateX(0);
   }
   .title.completed {
      text-decoration: line-through;
   }
   .controls {
      position: absolute;
      width: 85px;
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: translateX(150px);
      right: 20px;
      background: #fff;
   }
}

.nav-link {

   &.active {
      text-decoration: underline;
   }
}
